/*------------------------------------*\
    $FONTS
\*------------------------------------*/

// include license if available

// Example font include:

/*
@font-face {
  font-family: 'PatuaOne';
  src: url('../fonts/patuaone-regular-webfont.eot');
  src: url('../fonts/patuaone-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/patuaone-regular-webfont.woff') format('woff'),
       url('../fonts/patuaone-regular-webfont.ttf') format('truetype'),
       url('../fonts/patuaone-regular-webfont.svg#patua_oneregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/