/*------------------------------------*\
    $PRINT
\*------------------------------------*/

.visible-print { display: none !important; }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow:none !important;
    filter: none !important;
    text-shadow: none !important;
  }
  @page { margin: 0.5cm; }
  thead { display: table-header-group; }
  table, tr, img { page-break-inside: avoid; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h1, h2, h3, h4 { page-break-after: avoid; }
  a, a:visited { text-decoration: underline; }

  /*
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after { content: ""; }
  */

  .visible-print { display: inherit !important; }
  .hidden-print { display: none !important; }
}
