/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
 *    v2.0 | 20110126
 *       License: none (public domain)
 *       */
/* line 18, ../_sass/base/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 28, ../_sass/base/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../_sass/base/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 34, ../_sass/base/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 38, ../_sass/base/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 42, ../_sass/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/*------------------------------------*\
    $GRIDS
\*------------------------------------*/
/* line 9, ../_sass/base/_grids.scss */
.gw,
.grid-wrapper {
  list-style: none;
  margin-bottom: 0;
  margin-left: -26px;
  *zoom: 1;
}
/* line 9, ../_sass/base/_mixins.scss */
.gw:before, .gw:after,
.grid-wrapper:before,
.grid-wrapper:after {
  display: table;
  content: "";
}
/* line 13, ../_sass/base/_mixins.scss */
.gw:after,
.grid-wrapper:after {
  clear: both;
}

/* line 19, ../_sass/base/_grids.scss */
.gw--rev > .g,
.grid-wrapper--rev > .grid {
  float: right;
}

/* line 24, ../_sass/base/_grids.scss */
.gw--full,
.grid-wrapper--full {
  margin-left: 0;
}
/* line 26, ../_sass/base/_grids.scss */
.gw--full > .g, .gw--full > .grid,
.grid-wrapper--full > .g,
.grid-wrapper--full > .grid {
  padding-left: 0;
}

/* line 34, ../_sass/base/_grids.scss */
.gw > .gw,
.grid-wrapper > .grid-wrapper {
  margin-left: 0;
}

/* line 39, ../_sass/base/_grids.scss */
.g,
.grid {
  float: left;
  width: 100%;
  padding-left: 26px;
  -webkit-transition: width 0.15s ease;
  -moz-transition: width 0.15s ease;
  -o-transition: width 0.15s ease;
  transition: width 0.15s ease;
}

/*------------------------------------*\
    $WIDTHS
\*------------------------------------*/
/* line 8, ../_sass/base/_widths.scss */
.one-whole {
  width: 100%;
}

/* line 16, ../_sass/base/_widths.scss */
.one-half,
.two-quarters,
.three-sixths,
.four-eighths,
.five-tenths,
.six-twelfths {
  width: 50%;
}

/* line 21, ../_sass/base/_widths.scss */
.one-third,
.two-sixths,
.four-twelfths {
  width: 33.333%;
}

/* line 25, ../_sass/base/_widths.scss */
.two-thirds,
.four-sixths,
.eight-twelfths {
  width: 66.666%;
}

/* line 30, ../_sass/base/_widths.scss */
.one-quarter,
.two-eighths,
.three-twelfths {
  width: 25%;
}

/* line 34, ../_sass/base/_widths.scss */
.three-quarters,
.six-eighths,
.nine-twelfths {
  width: 75%;
}

/* line 38, ../_sass/base/_widths.scss */
.one-fifth,
.two-tenths {
  width: 20%;
}

/* line 41, ../_sass/base/_widths.scss */
.two-fifths,
.four-tenths {
  width: 40%;
}

/* line 44, ../_sass/base/_widths.scss */
.three-fifths,
.six-tenths {
  width: 60%;
}

/* line 47, ../_sass/base/_widths.scss */
.four-fifths,
.eight-tenths {
  width: 80%;
}

/* line 51, ../_sass/base/_widths.scss */
.one-sixth,
.two-twelfths {
  width: 16.666%;
}

/* line 54, ../_sass/base/_widths.scss */
.five-sixths,
.ten-twelfths {
  width: 83.333%;
}

/* line 57, ../_sass/base/_widths.scss */
.one-eighth {
  width: 12.5%;
}

/* line 58, ../_sass/base/_widths.scss */
.three-eighths {
  width: 37.5%;
}

/* line 59, ../_sass/base/_widths.scss */
.five-eighths {
  width: 62.5%;
}

/* line 60, ../_sass/base/_widths.scss */
.seven-eighths {
  width: 87.5%;
}

/* line 63, ../_sass/base/_widths.scss */
.one-tenth {
  width: 10%;
}

/* line 64, ../_sass/base/_widths.scss */
.three-tenths {
  width: 30%;
}

/* line 65, ../_sass/base/_widths.scss */
.seven-tenths {
  width: 70%;
}

/* line 66, ../_sass/base/_widths.scss */
.nine-tenths {
  width: 90%;
}

/* line 69, ../_sass/base/_widths.scss */
.one-twelfth {
  width: 8.333%;
}

/* line 70, ../_sass/base/_widths.scss */
.five-twelfths {
  width: 41.666%;
}

/* line 71, ../_sass/base/_widths.scss */
.seven-twelfths {
  width: 58.333%;
}

/* line 72, ../_sass/base/_widths.scss */
.eleven-twelfths {
  width: 91.666%;
}

/* line 8, ../_sass/base/_widths.scss */
.hand-one-whole {
  width: 100%;
}

/* line 16, ../_sass/base/_widths.scss */
.hand-one-half,
.hand-two-quarters,
.hand-three-sixths,
.hand-four-eighths,
.hand-five-tenths,
.hand-six-twelfths {
  width: 50%;
}

/* line 21, ../_sass/base/_widths.scss */
.hand-one-third,
.hand-two-sixths,
.hand-four-twelfths {
  width: 33.333%;
}

/* line 25, ../_sass/base/_widths.scss */
.hand-two-thirds,
.hand-four-sixths,
.hand-eight-twelfths {
  width: 66.666%;
}

/* line 30, ../_sass/base/_widths.scss */
.hand-one-quarter,
.hand-two-eighths,
.hand-three-twelfths {
  width: 25%;
}

/* line 34, ../_sass/base/_widths.scss */
.hand-three-quarters,
.hand-six-eighths,
.hand-nine-twelfths {
  width: 75%;
}

/* line 38, ../_sass/base/_widths.scss */
.hand-one-fifth,
.hand-two-tenths {
  width: 20%;
}

/* line 41, ../_sass/base/_widths.scss */
.hand-two-fifths,
.hand-four-tenths {
  width: 40%;
}

/* line 44, ../_sass/base/_widths.scss */
.hand-three-fifths,
.hand-six-tenths {
  width: 60%;
}

/* line 47, ../_sass/base/_widths.scss */
.hand-four-fifths,
.hand-eight-tenths {
  width: 80%;
}

/* line 51, ../_sass/base/_widths.scss */
.hand-one-sixth,
.hand-two-twelfths {
  width: 16.666%;
}

/* line 54, ../_sass/base/_widths.scss */
.hand-five-sixths,
.hand-ten-twelfths {
  width: 83.333%;
}

/* line 57, ../_sass/base/_widths.scss */
.hand-one-eighth {
  width: 12.5%;
}

/* line 58, ../_sass/base/_widths.scss */
.hand-three-eighths {
  width: 37.5%;
}

/* line 59, ../_sass/base/_widths.scss */
.hand-five-eighths {
  width: 62.5%;
}

/* line 60, ../_sass/base/_widths.scss */
.hand-seven-eighths {
  width: 87.5%;
}

/* line 63, ../_sass/base/_widths.scss */
.hand-one-tenth {
  width: 10%;
}

/* line 64, ../_sass/base/_widths.scss */
.hand-three-tenths {
  width: 30%;
}

/* line 65, ../_sass/base/_widths.scss */
.hand-seven-tenths {
  width: 70%;
}

/* line 66, ../_sass/base/_widths.scss */
.hand-nine-tenths {
  width: 90%;
}

/* line 69, ../_sass/base/_widths.scss */
.hand-one-twelfth {
  width: 8.333%;
}

/* line 70, ../_sass/base/_widths.scss */
.hand-five-twelfths {
  width: 41.666%;
}

/* line 71, ../_sass/base/_widths.scss */
.hand-seven-twelfths {
  width: 58.333%;
}

/* line 72, ../_sass/base/_widths.scss */
.hand-eleven-twelfths {
  width: 91.666%;
}

/* line 8, ../_sass/base/_widths.scss */
.lap-one-whole {
  width: 100%;
}

/* line 16, ../_sass/base/_widths.scss */
.lap-one-half,
.lap-two-quarters,
.lap-three-sixths,
.lap-four-eighths,
.lap-five-tenths,
.lap-six-twelfths {
  width: 50%;
}

/* line 21, ../_sass/base/_widths.scss */
.lap-one-third,
.lap-two-sixths,
.lap-four-twelfths {
  width: 33.333%;
}

/* line 25, ../_sass/base/_widths.scss */
.lap-two-thirds,
.lap-four-sixths,
.lap-eight-twelfths {
  width: 66.666%;
}

/* line 30, ../_sass/base/_widths.scss */
.lap-one-quarter,
.lap-two-eighths,
.lap-three-twelfths {
  width: 25%;
}

/* line 34, ../_sass/base/_widths.scss */
.lap-three-quarters,
.lap-six-eighths,
.lap-nine-twelfths {
  width: 75%;
}

/* line 38, ../_sass/base/_widths.scss */
.lap-one-fifth,
.lap-two-tenths {
  width: 20%;
}

/* line 41, ../_sass/base/_widths.scss */
.lap-two-fifths,
.lap-four-tenths {
  width: 40%;
}

/* line 44, ../_sass/base/_widths.scss */
.lap-three-fifths,
.lap-six-tenths {
  width: 60%;
}

/* line 47, ../_sass/base/_widths.scss */
.lap-four-fifths,
.lap-eight-tenths {
  width: 80%;
}

/* line 51, ../_sass/base/_widths.scss */
.lap-one-sixth,
.lap-two-twelfths {
  width: 16.666%;
}

/* line 54, ../_sass/base/_widths.scss */
.lap-five-sixths,
.lap-ten-twelfths {
  width: 83.333%;
}

/* line 57, ../_sass/base/_widths.scss */
.lap-one-eighth {
  width: 12.5%;
}

/* line 58, ../_sass/base/_widths.scss */
.lap-three-eighths {
  width: 37.5%;
}

/* line 59, ../_sass/base/_widths.scss */
.lap-five-eighths {
  width: 62.5%;
}

/* line 60, ../_sass/base/_widths.scss */
.lap-seven-eighths {
  width: 87.5%;
}

/* line 63, ../_sass/base/_widths.scss */
.lap-one-tenth {
  width: 10%;
}

/* line 64, ../_sass/base/_widths.scss */
.lap-three-tenths {
  width: 30%;
}

/* line 65, ../_sass/base/_widths.scss */
.lap-seven-tenths {
  width: 70%;
}

/* line 66, ../_sass/base/_widths.scss */
.lap-nine-tenths {
  width: 90%;
}

/* line 69, ../_sass/base/_widths.scss */
.lap-one-twelfth {
  width: 8.333%;
}

/* line 70, ../_sass/base/_widths.scss */
.lap-five-twelfths {
  width: 41.666%;
}

/* line 71, ../_sass/base/_widths.scss */
.lap-seven-twelfths {
  width: 58.333%;
}

/* line 72, ../_sass/base/_widths.scss */
.lap-eleven-twelfths {
  width: 91.666%;
}

/* line 8, ../_sass/base/_widths.scss */
.desk-one-whole {
  width: 100%;
}

/* line 16, ../_sass/base/_widths.scss */
.desk-one-half,
.desk-two-quarters,
.desk-three-sixths,
.desk-four-eighths,
.desk-five-tenths,
.desk-six-twelfths {
  width: 50%;
}

/* line 21, ../_sass/base/_widths.scss */
.desk-one-third,
.desk-two-sixths,
.desk-four-twelfths {
  width: 33.333%;
}

/* line 25, ../_sass/base/_widths.scss */
.desk-two-thirds,
.desk-four-sixths,
.desk-eight-twelfths {
  width: 66.666%;
}

/* line 30, ../_sass/base/_widths.scss */
.desk-one-quarter,
.desk-two-eighths,
.desk-three-twelfths {
  width: 25%;
}

/* line 34, ../_sass/base/_widths.scss */
.desk-three-quarters,
.desk-six-eighths,
.desk-nine-twelfths {
  width: 75%;
}

/* line 38, ../_sass/base/_widths.scss */
.desk-one-fifth,
.desk-two-tenths {
  width: 20%;
}

/* line 41, ../_sass/base/_widths.scss */
.desk-two-fifths,
.desk-four-tenths {
  width: 40%;
}

/* line 44, ../_sass/base/_widths.scss */
.desk-three-fifths,
.desk-six-tenths {
  width: 60%;
}

/* line 47, ../_sass/base/_widths.scss */
.desk-four-fifths,
.desk-eight-tenths {
  width: 80%;
}

/* line 51, ../_sass/base/_widths.scss */
.desk-one-sixth,
.desk-two-twelfths {
  width: 16.666%;
}

/* line 54, ../_sass/base/_widths.scss */
.desk-five-sixths,
.desk-ten-twelfths {
  width: 83.333%;
}

/* line 57, ../_sass/base/_widths.scss */
.desk-one-eighth {
  width: 12.5%;
}

/* line 58, ../_sass/base/_widths.scss */
.desk-three-eighths {
  width: 37.5%;
}

/* line 59, ../_sass/base/_widths.scss */
.desk-five-eighths {
  width: 62.5%;
}

/* line 60, ../_sass/base/_widths.scss */
.desk-seven-eighths {
  width: 87.5%;
}

/* line 63, ../_sass/base/_widths.scss */
.desk-one-tenth {
  width: 10%;
}

/* line 64, ../_sass/base/_widths.scss */
.desk-three-tenths {
  width: 30%;
}

/* line 65, ../_sass/base/_widths.scss */
.desk-seven-tenths {
  width: 70%;
}

/* line 66, ../_sass/base/_widths.scss */
.desk-nine-tenths {
  width: 90%;
}

/* line 69, ../_sass/base/_widths.scss */
.desk-one-twelfth {
  width: 8.333%;
}

/* line 70, ../_sass/base/_widths.scss */
.desk-five-twelfths {
  width: 41.666%;
}

/* line 71, ../_sass/base/_widths.scss */
.desk-seven-twelfths {
  width: 58.333%;
}

/* line 72, ../_sass/base/_widths.scss */
.desk-eleven-twelfths {
  width: 91.666%;
}

/*------------------------------------*\
    $PUSH
\*------------------------------------*/
/*------------------------------------*\
    $PULL
\*------------------------------------*/
/*------------------------------------*\
    $ISLAND
\*------------------------------------*/
/* line 8, ../_sass/base/_island.scss */
.island, pre,
.islet,
.landmark {
  display: block;
  margin-bottom: 26px;
  *zoom: 1;
}
/* line 9, ../_sass/base/_mixins.scss */
.island:before, pre:before, .island:after, pre:after,
.islet:before,
.islet:after,
.landmark:before,
.landmark:after {
  display: table;
  content: "";
}
/* line 13, ../_sass/base/_mixins.scss */
.island:after, pre:after,
.islet:after,
.landmark:after {
  clear: both;
}
/* line 12, ../_sass/base/_island.scss */
.islet .island, .islet pre, .islet
.islet, .islet
.landmark {
  margin-bottom: 13px;
}
/* line 15, ../_sass/base/_island.scss */
.island > :last-child, pre > :last-child,
.islet > :last-child,
.landmark > :last-child {
  margin-bottom: 0;
}

/* line 18, ../_sass/base/_island.scss */
.island, pre {
  padding-top: 26px;
  padding-bottom: 26px;
}

/* line 23, ../_sass/base/_island.scss */
.islet {
  padding-top: 13px;
  padding-bottom: 13px;
}

/* line 28, ../_sass/base/_island.scss */
.landmark {
  margin-bottom: 52px;
}

/*------------------------------------*\
    $LISTS
\*------------------------------------*/
/* line 6, ../_sass/base/_lists.scss */
.h-list,
.v-list {
  list-style: none;
  margin: 0;
  overflow: hidden;
}

/* line 12, ../_sass/base/_lists.scss */
.h-list > li {
  float: left;
  margin-right: 13px;
}

/* line 17, ../_sass/base/_lists.scss */
.h-list > li:last-child {
  margin-right: 0;
}

/* line 21, ../_sass/base/_lists.scss */
.h-list--centered {
  text-align: center;
}
/* line 23, ../_sass/base/_lists.scss */
.h-list--centered > li {
  float: none;
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin: 0 13px;
}
/* line 27, ../_sass/base/_lists.scss */
.h-list--centered > li:last-child {
  margin-right: 13px;
}

/* line 33, ../_sass/base/_lists.scss */
.h-list--piped {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
/* line 35, ../_sass/base/_lists.scss */
.h-list--piped > li {
  margin-right: 0;
}
/* line 38, ../_sass/base/_lists.scss */
.h-list--piped > li + li {
  margin-left: 13px;
  padding-left: 13px;
  border-left: solid 1px #3e4935;
}

/* line 45, ../_sass/base/_lists.scss */
.v-list > li {
  margin-top: 6.5px;
}

/*------------------------------------*\
    $BLOCKS
\*------------------------------------*/
/*

blocks are 2,3,4-column grids (like gallery thumbnails)

use if you want rows to clear each other
blocks will be the same height

*/
/* line 16, ../_sass/base/_blocks.scss */
.blocks {
  display: block;
  overflow: hidden;
}

/* line 21, ../_sass/base/_blocks.scss */
.blocks > li {
  display: block;
  height: auto;
  float: left;
}

/* line 27, ../_sass/base/_blocks.scss */
.blocks--two-up {
  margin-left: -2%;
}

/* line 31, ../_sass/base/_blocks.scss */
.blocks--two-up > li {
  margin-left: 2%;
  margin-bottom: 2%;
  width: 48%;
  *width: 47.9%;
}

/* line 38, ../_sass/base/_blocks.scss */
.blocks--two-up > li:nth-child(2n+1) {
  clear: left;
}

/* line 40, ../_sass/base/_blocks.scss */
.blocks--three-up {
  margin-left: -2%;
}

/* line 44, ../_sass/base/_blocks.scss */
.blocks--three-up > li {
  margin-left: 2%;
  margin-bottom: 2%;
  width: 31.3%;
  *width: 31.2%;
}

/* line 51, ../_sass/base/_blocks.scss */
.blocks--three-up > li:nth-child(3n+1) {
  clear: left;
}

/* line 53, ../_sass/base/_blocks.scss */
.blocks--four-up {
  margin-left: -2%;
}

/* line 57, ../_sass/base/_blocks.scss */
.blocks--four-up > li {
  margin-left: 2%;
  margin-bottom: 2%;
  width: 23%;
  *width: 22.9%;
}

/* line 64, ../_sass/base/_blocks.scss */
.blocks--four-up > li:nth-child(4n+1) {
  clear: left;
}

/*------------------------------------*\
    $SHARED
\*------------------------------------*/
/* line 11, ../_sass/base/_shared.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 23, ../_sass/base/_shared.scss */
audio,
canvas,
img,
svg,
video {
  vertical-align: middle;
}

/* line 28, ../_sass/base/_shared.scss */
img {
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}

/* line 35, ../_sass/base/_shared.scss */
img[width],
img[height] {
  max-width: none;
}

/*------------------------------------*\
    $HELPERS
\*------------------------------------*/
/* line 7, ../_sass/base/_helpers.scss */
.cf {
  *zoom: 1;
}
/* line 9, ../_sass/base/_mixins.scss */
.cf:before, .cf:after {
  display: table;
  content: "";
}
/* line 13, ../_sass/base/_mixins.scss */
.cf:after {
  clear: both;
}

/* line 12, ../_sass/base/_helpers.scss */
.ir {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

/* line 18, ../_sass/base/_helpers.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 24, ../_sass/base/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 37, ../_sass/base/_helpers.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 52, ../_sass/base/_helpers.scss */
.hidden-hand-and-up {
  display: none;
}

/* line 58, ../_sass/base/_helpers.scss */
.hidden-lap-and-up {
  display: none;
}

/* line 64, ../_sass/base/_helpers.scss */
.hidden-desk-and-up {
  display: none;
}

/* line 69, ../_sass/base/_helpers.scss */
.float-right {
  float: right !important;
}

/* line 70, ../_sass/base/_helpers.scss */
.float-left {
  float: left !important;
}

/* line 72, ../_sass/base/_helpers.scss */
.text-left {
  text-align: left !important;
}

/* line 73, ../_sass/base/_helpers.scss */
.text-center {
  text-align: center !important;
}

/* line 74, ../_sass/base/_helpers.scss */
.text-right {
  text-align: right !important;
}

/* line 75, ../_sass/base/_helpers.scss */
.text-upper {
  text-transform: uppercase !important;
}

/* line 76, ../_sass/base/_helpers.scss */
.text-strong {
  font-weight: bold !important;
}

/* line 77, ../_sass/base/_helpers.scss */
.text-nowrap {
  white-space: nowrap !important;
}

/*------------------------------------*\
    $FONTS
\*------------------------------------*/
/*
@font-face {
  font-family: 'PatuaOne';
  src: url('../fonts/patuaone-regular-webfont.eot');
  src: url('../fonts/patuaone-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/patuaone-regular-webfont.woff') format('woff'),
       url('../fonts/patuaone-regular-webfont.ttf') format('truetype'),
       url('../fonts/patuaone-regular-webfont.svg#patua_oneregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/
/*------------------------------------*\
    $TYPOGRAPHY
\*------------------------------------*/
/* line 5, ../_sass/ui/_typography.scss */
html {
  font: 1.125em/1.44444 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #3e4935;
  background-color: #d6d6d6;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  letter-spacing: 0.01em;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* line 16, ../_sass/ui/_typography.scss */
a {
  color: #3e4935;
  text-decoration: underline;
}
/* line 19, ../_sass/ui/_typography.scss */
a:hover {
  text-decoration: none;
}

/* line 22, ../_sass/ui/_typography.scss */
i {
  font-style: normal;
}

/* line 24, ../_sass/ui/_typography.scss */
h1, h2 {
  font-weight: 400;
}

/* line 25, ../_sass/ui/_typography.scss */
h3, h4, h5, h6 {
  font-weight: 600;
}

/* line 27, ../_sass/ui/_typography.scss */
h1 {
  font-size: 48px;
}

/* line 28, ../_sass/ui/_typography.scss */
h2 {
  font-size: 32px;
}

/* line 29, ../_sass/ui/_typography.scss */
h3 {
  font-size: 22px;
}

/* line 30, ../_sass/ui/_typography.scss */
h4 {
  font-size: 18px;
}

/*------------------------------------*\
    $FORMS
\*------------------------------------*/
/* line 5, ../_sass/ui/_forms.scss */
form {
  margin: 0;
}

/* line 9, ../_sass/ui/_forms.scss */
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

/* line 15, ../_sass/ui/_forms.scss */
legend {
  display: block;
  width: 100%;
}

/* line 21, ../_sass/ui/_forms.scss */
input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 27, ../_sass/ui/_forms.scss */
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  /* IE8-9 */
  line-height: normal;
}

/* line 36, ../_sass/ui/_forms.scss */
input[type="file"],
input[type="range"] {
  display: block;
  width: 100%;
}

/* line 43, ../_sass/ui/_forms.scss */
select[multiple],
select[size] {
  height: auto;
}

/* line 50, ../_sass/ui/_forms.scss */
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 76, ../_sass/ui/_forms.scss */
.form-control {
  display: block;
  width: 100%;
  height: 2.5em;
  padding: 0.2em 1em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 18px;
  color: #333333;
  vertical-align: middle;
  background-color: #efefef;
  background-image: none;
  border: 1px solid #999999;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-transition: border-color ease-in-out;
  -webkit-transition-delay: 0.15s;
  -moz-transition: border-color ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s;
}
/* line 74, ../_sass/base/_mixins.scss */
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
/* line 49, ../_sass/base/_mixins.scss */
.form-control:-moz-placeholder {
  color: #3e4935;
}
/* line 50, ../_sass/base/_mixins.scss */
.form-control::-moz-placeholder {
  opacity: 1;
  color: #3e4935;
}
/* line 51, ../_sass/base/_mixins.scss */
.form-control:-ms-input-placeholder {
  color: #3e4935;
}
/* line 52, ../_sass/base/_mixins.scss */
.form-control::-webkit-input-placeholder {
  color: #3e4935;
}
/* line 102, ../_sass/ui/_forms.scss */
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #d6d6d6;
}

/* line 109, ../_sass/ui/_forms.scss */
textarea.form-control {
  height: auto;
  line-height: 1.44444;
}

/* line 115, ../_sass/ui/_forms.scss */
input.form-control,
textarea.form-control {
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
}

/* line 124, ../_sass/ui/_forms.scss */
.radio,
.checkbox {
  display: block;
  min-height: 26px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  vertical-align: middle;
}
/* line 131, ../_sass/ui/_forms.scss */
.radio label,
.checkbox label {
  display: inline;
  cursor: pointer;
}

/* line 137, ../_sass/ui/_forms.scss */
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}

/* line 148, ../_sass/ui/_forms.scss */
input[type="radio"][disabled], fieldset[disabled] input[type="radio"],
input[type="checkbox"][disabled], fieldset[disabled]
input[type="checkbox"],
.radio[disabled], fieldset[disabled]
.radio,
.checkbox[disabled], fieldset[disabled]
.checkbox {
  cursor: not-allowed;
}

/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
/* line 5, ../_sass/ui/_buttons.scss */
.btn {
  background-color: #fbb03b;
  color: #efefef;
  margin: 0;
  padding: 0.4em 1em;
  line-height: 1.6em;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  *display: inline;
  zoom: 1;
  font-size: 18px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  font-weight: 600;
}
/* line 23, ../_sass/ui/_buttons.scss */
.btn, .btn:hover, .btn:focus {
  text-decoration: none;
}
/* line 28, ../_sass/ui/_buttons.scss */
.btn.disabled, .btn[disabled] {
  cursor: not-allowed;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65);
  opacity: 0.65;
}

/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
/* line 5, ../_sass/ui/_layout.scss */
.container {
  width: 98%;
  max-width: 45em;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

/*------------------------------------*\
    $TABLES
\*------------------------------------*/
/* line 9, ../_sass/ui/_tables.scss */
table,
th,
td {
  border: 1px solid #999999;
  text-align: center;
}

/* line 14, ../_sass/ui/_tables.scss */
th {
  font-variant: small-caps;
}

/* line 15, ../_sass/ui/_tables.scss */
td {
  padding: .4em 1em;
}

/* line 17, ../_sass/ui/_tables.scss */
table {
  width: 100%;
  width: auto;
}

/*------------------------------------*\
    $CODE
\*------------------------------------*/
/* line 6, ../_sass/ui/_code.scss */
code,
pre {
  font-family: monospace;
  background: #efefef;
  color: #333333;
  border-radius: 3px;
}

/* line 13, ../_sass/ui/_code.scss */
code {
  padding: 2px 4px;
  margin: 0 1px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  text-decoration: inherit;
}

/* line 19, ../_sass/ui/_code.scss */
pre {
  overflow-x: auto;
  padding-left: .5em;
  padding-left: 1em;
}

/*------------------------------------*\
    $HERO
\*------------------------------------*/
/* line 5, ../_sass/ui/_hero.scss */
.hero {
  padding: 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #ddc39b;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFDDC39B', endColorstr='#FFE4DAB3');
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ddc39b), color-stop(100%, #e4dab3));
  background-image: -webkit-linear-gradient(left, #ddc39b 0%, #e4dab3 100%);
  background-image: -moz-linear-gradient(left, #ddc39b 0%, #e4dab3 100%);
  background-image: -o-linear-gradient(left, #ddc39b 0%, #e4dab3 100%);
  background-image: linear-gradient(left, #ddc39b 0%, #e4dab3 100%);
  padding: 2em 0;
  margin-bottom: 1em;
  text-align: left;
}
/* line 16, ../_sass/ui/_hero.scss */
.hero h1 {
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue UltraLight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 72px;
  margin-bottom: -0.1em;
}

/* line 29, ../_sass/ui/_hero.scss */
.download-links {
  margin: 1em 0;
}
/* line 31, ../_sass/ui/_hero.scss */
.download-links a {
  display: block;
}

/* line 34, ../_sass/ui/_hero.scss */
.hero__text {
  display: inline-block;
  padding: 1em;
  padding-top: 0;
  position: relative;
  z-index: 2;
  padding-top: 1em;
}

/* line 46, ../_sass/ui/_hero.scss */
.hero__image {
  position: relative;
  float: none;
  left: -23%;
  margin: 0;
  z-index: 1;
  -webkit-transform: scale(1.9) translate(-27px, 14%);
  -moz-transform: scale(1.9) translate(-27px, 14%);
  -ms-transform: scale(1.9) translate(-27px, 14%);
  -o-transform: scale(1.9) translate(-27px, 14%);
  transform: scale(1.9) translate(-27px, 14%);
  float: right;
  width: 75%;
  left: 0;
  margin: -15.5em 0 -0.5em;
  -webkit-transform: scale(1.7) translate(-100px, 100px);
  -moz-transform: scale(1.7) translate(-100px, 100px);
  -ms-transform: scale(1.7) translate(-100px, 100px);
  -o-transform: scale(1.7) translate(-100px, 100px);
  transform: scale(1.7) translate(-100px, 100px);
}

/*------------------------------------*\
    $TYPOGRAPHY
\*------------------------------------*/
/* line 7, ../_sass/ui/_readme.scss */
.readme {
  padding-top: 1em;
}
/* line 10, ../_sass/ui/_readme.scss */
.readme p {
  line-height: 2;
  margin: 15px 0;
}
/* line 14, ../_sass/ui/_readme.scss */
.readme h1, .readme h2, .readme h3, .readme h4, .readme h5, .readme h6 {
  margin: 1em 0 15px;
}
/* line 16, ../_sass/ui/_readme.scss */
.readme ul {
  list-style: initial;
  margin-left: 1.5em;
}

@-webkit-keyframes TRIPPY {
  /* line 2, ../_sass/ui/_konami.scss */
  from {
    -webkit-filter: sepia(50%) saturate(300%) hue-rotate(0deg);
  }

  /* line 3, ../_sass/ui/_konami.scss */
  to {
    -webkit-filter: sepia(50%) saturate(300%) hue-rotate(360deg);
  }
}

/* line 6, ../_sass/ui/_konami.scss */
.hero__image.trippy {
  -webkit-animation: TRIPPY 1s linear infinite;
}

/*------------------------------------*\
    $PRINT
\*------------------------------------*/
/* line 5, ../_sass/ui/_print.scss */
.visible-print {
  display: none !important;
}

@media print {
  /* line 8, ../_sass/ui/_print.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    filter: none !important;
    text-shadow: none !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 16, ../_sass/ui/_print.scss */
  thead {
    display: table-header-group;
  }

  /* line 17, ../_sass/ui/_print.scss */
  table, tr, img {
    page-break-inside: avoid;
  }

  /* line 18, ../_sass/ui/_print.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 19, ../_sass/ui/_print.scss */
  h1, h2, h3, h4 {
    page-break-after: avoid;
  }

  /* line 20, ../_sass/ui/_print.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /*
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after { content: ""; }
  */
  /* line 30, ../_sass/ui/_print.scss */
  .visible-print {
    display: inherit !important;
  }

  /* line 31, ../_sass/ui/_print.scss */
  .hidden-print {
    display: none !important;
  }
}
