/*------------------------------------*\
    $ISLAND
\*------------------------------------*/

// Harry Robert's "island"
.island,
.islet,
.landmark {
  display: block;
  @include rem(margin-bottom, $base-spacing-unit);
  @include clearfix();
  .islet & {
    @include rem(margin-bottom, $half-spacing-unit);
  }
  > :last-child { margin-bottom: 0; }
}

.island {
  @include rem(padding-top, $base-spacing-unit);
  @include rem(padding-bottom, $base-spacing-unit);
}

.islet {
  @include rem(padding-top, $half-spacing-unit);
  @include rem(padding-bottom, $half-spacing-unit);
}

.landmark {
  @include rem(margin-bottom, 2 * $base-spacing-unit);
}
