/*------------------------------------*\
    $LISTS
\*------------------------------------*/

.h-list,
.v-list {
  list-style: none;
  margin: 0;
  overflow: hidden;
}

.h-list > li {
  float: left;
  margin-right: $half-spacing-unit;
}

.h-list > li:last-child {
  margin-right: 0;
}

.h-list--centered {
  text-align: center;
  > li {
    float: none;
    @include inline-block();
    margin: 0 $half-spacing-unit;
    &:last-child {
      margin-right: $half-spacing-unit;
    }
  }
}

.h-list--piped {
  @include inline-block();
  > li {
    margin-right: 0;
  }
  > li + li {
    margin-left: $half-spacing-unit;
    padding-left: $half-spacing-unit;
    border-left: solid 1px $primary;
  }
}

.v-list > li {
  margin-top: $half-spacing-unit / 2;
}
