/*------------------------------------*\
    $PUSH
\*------------------------------------*/

@mixin push-setup($namespace: "") {

  // Whole
  .push--#{$namespace}one-whole { left: 100%; }

  // Halves
  .push--#{$namespace}one-half,
  .push--#{$namespace}two-quarters,
  .push--#{$namespace}three-sixths,
  .push--#{$namespace}four-eighths,
  .push--#{$namespace}five-tenths,
  .push--#{$namespace}six-twelfths { left: 50%; }

  // Thirds
  .push--#{$namespace}one-third,
  .push--#{$namespace}two-sixths,
  .push--#{$namespace}four-twelfths { left: 33.333%; }

  .push--#{$namespace}two-thirds,
  .push--#{$namespace}four-sixths,
  .push--#{$namespace}eight-twelfths { left: 66.666%; }

  // Quarters
  .push--#{$namespace}one-quarter,
  .push--#{$namespace}two-eighths,
  .push--#{$namespace}three-twelfths { left: 25%; }

  .push--#{$namespace}three-quarters,
  .push--#{$namespace}six-eighths,
  .push--#{$namespace}nine-twelfths { left: 75%; }

  // Fifths
  .push--#{$namespace}one-fifth,
  .push--#{$namespace}two-tenths { left: 20%; }

  .push--#{$namespace}two-fifths,
  .push--#{$namespace}four-tenths { left: 40%; }

  .push--#{$namespace}three-fifths,
  .push--#{$namespace}six-tenths { left: 60%; }

  .push--#{$namespace}four-fifths,
  .push--#{$namespace}eight-tenths { left: 80%; }

  // Sixths
  .push--#{$namespace}one-sixth,
  .push--#{$namespace}two-twelfths { left: 16.666%; }

  .push--#{$namespace}five-sixths,
  .push--#{$namespace}ten-twelfths { left: 83.333%; }

  // Eighths
  .push--#{$namespace}one-eighth { left: 12.5%; }
  .push--#{$namespace}three-eighths { left: 37.5%; }
  .push--#{$namespace}five-eighths { left: 62.5%; }
  .push--#{$namespace}seven-eighths { left: 87.5%; }

  // Tenths
  .push--#{$namespace}one-tenth { left: 10%; }
  .push--#{$namespace}three-tenths { left: 30%; }
  .push--#{$namespace}seven-tenths { left: 70%; }
  .push--#{$namespace}nine-tenths { left: 90%; }

  // Twelfths
  .push--#{$namespace}one-twelfth { left: 8.333%; }
  .push--#{$namespace}five-twelfths { left: 41.666% }
  .push--#{$namespace}seven-twelfths { left: 58.333%; }
  .push--#{$namespace}eleven-twelfths { left: 91.666%; }
}

@if $pull == true {

  [class*="push--"]{ position:relative; }

  @if $responsive == true {

    @include push-setup();

    @if $responsive-push-pull == true {

      @if $hand-start != false {
        @include media-query("hand-and-up"){
          @include push-setup("hand-");
        }
      }

      @if $lap-start != false {
        @include media-query("lap-and-up"){
          @include push-setup("lap-");
        }
      }

      @if $desk-start != false {
        @include media-query("desk-and-up"){
          @include push-setup("desk-");
        }
      }

      @if $wall-start != false {
        @include media-query("wall-and-up"){
          @include push-setup("wall-");
        }
      }
    }
  }
  @else {
    @include media-query("lap-and-up"){
      @include push-setup();
    }
  }
}
