/*------------------------------------*\
    $CODE
\*------------------------------------*/

code,
pre {
  font-family: $font-code;
  background: $light-gray;
  color: $dark-gray;

  border-radius: 3px;
}
code {
  padding: 2px 4px;
  margin: 0 1px;
}
pre {
  @extend .island;
  overflow-x: auto;
  padding-left: .5em;
  @include media-query(lap-and-up) {
    padding-left: 1em;
  }
}

