/*------------------------------------*\
    $HERO
\*------------------------------------*/

.hero {
  padding: 2em 0;
  text-align: center;

  h1 { margin-bottom: 0.1em; }

  @include media-query(lap-and-up) {
    padding: 5em 0;
    margin-bottom: 1em;
  }
}

.download-links { margin-top: 1.5em; }

