/*------------------------------------*\
    $HERO
\*------------------------------------*/

.hero {
  padding: 0;
  text-align: center;
  position: relative;
  overflow: hidden;

  // Background gradeint
  background-color: #ddc39b;
  @include filter-gradient(#ddc39b, #e4dab3, horizontal);
  @include background-image(linear-gradient(left,  #ddc39b 0%,#e4dab3 100%));

  h1 {
    font-family: $font-heading;
    @include rem(font-size, 72px);
    margin-bottom: -0.1em;
  }

  @include media-query(lap-and-up) {
    padding: 2em 0;
    margin-bottom: 1em;
    text-align: left;
  }
}

.download-links {
  margin: 1em 0;
  a { display: block; }
}

.hero__text {
  display: inline-block;
  padding: 1em;
  padding-top: 0;
  position: relative;
  z-index: 2;

  @include media-query(lap-and-up) {
    padding-top: 1em;
  }
}

.hero__image {
  position: relative;
  float: none;
  left: -23%;
  margin: 0;
  z-index: 1;
  @include transform(scale(1.9) translate(-27px, 14%));

  @include media-query(lap-and-up) {
    float: right;
    width: 75%;
    left: 0;
    margin: -15.5em 0 -0.5em;
    @include transform(scale(1.7) translate(-100px, 100px));
  }
}

