/*------------------------------------*\
    $TYPOGRAPHY
\*------------------------------------*/

// These are taken from GitHub's readme styles.

.readme {
  padding-top: 1em;

  p { margin: 15px 0; }
  h1, h2, h3, h4, h5, h6 { margin: 1em 0 15px; }

  ul {
    list-style: initial;
    margin-left: 1.5em;
  }
}

