/*------------------------------------*\
    $TABLES
\*------------------------------------*/

$table-border: 1px solid $gray;

table,
th,
td {
  border: $table-border;
  text-align: center;
}

th { font-variant: small-caps; }
td { padding: .4em 1em; }

table {
  width: 100%;
  @include media-query(hand-and-up) {
    width: auto;
  }
}

